#connector-contents {
	ul {
		li {
			display: block; 
			font-size: 19px; 
			line-height: 110%; 
			input[type="radio"] {
				-webkit-appearance: none; 
			}
			a {
				color: black; 
				text-decoration: none; 
			}
			.selected a {
				color: white; 
			}
		}
	}
}

[data-item-type]:before {
    font-family: FontAwesome;
    margin-right: 5px; 
    color: #071E52;
  }
  .collapsed[data-item-type="directory"]:before {
    content: "\f07b";
  }
  .expanded[data-item-type="directory"]:before {
  	content: "\f115";
  }
  [data-item-type="file"].collapsed:before {
    content: "\f016";
  }
  .collapsed[data-item-type="link"] {
  	&:before {
    	content: "\f0c1";
    }
}

.expanded[data-item-type="link"] {
    &:before {
    	content: "\f115";
    }
  }