header {
	height: 75px; 
	background-color: #278787;
	width: 100%; 
	margin: 0; 
	text-align: center; 
}

header:before {
	content: " "; 
	display: inline-block; 
	height: 100%; 
	width: 1%; 
	vertical-align: middle; 	
}

nav {
	display: inline-block; 
	vertical-align: middle; 
	width: 90%; 
}

.navbar-buttons {
	float: right; 
}